@import "src/styles/normalize/normalize";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 10px;
}

input {
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*----*/
._container {
  max-width: 1440px;
  margin: 0 10px;
}
._btn {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: inherit;
}

/*----*/

.wrapper {
  border: 1px solid;
  //margin: 10px;
  background: rgba(225, 147, 222, 0.64);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
}

.header__container {
  height: 40px;
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

/*-MAIN-*/
.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .main__container {
    flex: 1 1 auto;
    display: flex;
    border: 1px solid;
    position: relative;
    padding: 10px;
  }
  .main__messages-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .message {
  }
  .message__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }

    .message__avatar {
      position: relative;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid;
      margin-right: 5px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        object-fit: contain;
        padding: 4px;
      }
    }

    .message__content {
      padding: 0.32rem 0.5rem 0.32rem;
      background-color: #fff;
      border: 1px solid;
      display: flex;
      align-content: center;
      align-items: center;
      height: 30px;
      border-radius: 10px;
      max-width: 60%;

      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }

    .message__time {
      position: relative;
      font-size: 12px;
      color: #878787;
      top: 0.32rem;
      right: 0;
      align-items: center;
      padding: 0.32rem 0 0.32rem 0.32rem;
    }
  }

  .message__item.own {
    flex-direction: row-reverse;

    .message__avatar {
      margin: 0 0 0 10px;
    }
  }
}

/*-FOOTER-*/
.footer {
  .footer__container {
    height: 50px;
    padding: 10px 0;
  }

  .footer__form {
    display: flex;
  }

  .form {
    &__input {
      flex: 1 1 100%;
      border: 1px solid;
      margin: 0 10px 0 0;
      height: 32px;

      &-field {
        width: 100%;
        height: 100%;
        padding: 3px;
      }
    }

    &__button {
      border: 1px solid;
      height: 32px;
      min-width: 95px;

      &-submit {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*--popup--*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  transition: all 0.8s ease-in-out 0s;

  &._open {
    visibility: visible;
    opacity: 1;
  }

  //&._open.popup__content {
  //  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  //  opacity: 1;
  //}

  .popup__container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }

  .popup__body {
    background-color: red;
    color: black;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
  }

  .popup__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
  }
  .popup__header-title {
  }
  .popup__header_btn {
    cursor: pointer;
  }

  .popup__content {
    padding: 40px 0;
  }
  .popup__content_title {
    margin: 0 0 0.35rem;
  }

  .popup__content_form {
  }

  .popup__content_form input {
    width: 100%;
    height: 30px;
    margin: 0 0 0.35rem 0;
  }
}

